{{ define "main" }}

{{ partial "navigation.html" . }}

{{ partial "banner.html" . }}

{{ partial "start.html" . }}

{{ partial "news.html" . }}

{{ partial "cta.html" . }}

{{ partial "service.html" . }}

{{ partial "skill.html" . }}

{{ partial "supported_apps.html" . }}

{{ partial "funfacts.html" . }}

{{ partial "team.html" . }}

{{ partial "pricing.html" . }}

{{ partial "testimonial.html" . }}

<!--{{ partial "blog.html" . }}-->

{{ partial "contact.html" . }}

{{ partial "map.html" . }}

{{ end }}